/* Gneral */
*{
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
/* Navbar */
.nav{
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #f52b07;
  z-index: 99999998;
}
.nav img{
  width: 4em;
  height: 4em;
}
.nav ul{
  display: flex;
  justify-content:space-around;
  list-style-type: none;
}
.nav a {
  transition: 0.5s;
  color: #000;
  display: block;
  text-decoration: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999999;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.pags a:hover {
  transition: 0.5s;
  background-color:#f52b07;
  color: #ffffff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Body */
/* boton general */
button {
  color: #fff !important;
  padding: 0.5em 1em;
  background: #33CCFF;
  position: relative;
}
button:before {
  content:"";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: all 1s ease;
}
button:hover:before {
width: 100%;
}
/* fin boton general */
.banner{
  width: 100%;
  height: 40em;
  background-image: url("../img/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.newsletter{
  color: #ffffff;
  font-size: 1.25em;
  border-top: 3px solid #f52b07;
  height: 4em;
  padding-top: 1.25em;
  text-align: center;
  background-image:  linear-gradient(rgba(69,69,69,0.4), rgba(255,255,255,1.5));
}
.newsletter input{
  border-radius: 1em;
  padding-left: 0.5em;
}
.newsletter button{
  transition: 0.5s;
  border: none;
  padding: 0.5em;
  background: #11a7f2;
  color: #ffffff;
}
.newsletter button:hover{
  background: #7a30e3;
  transition: 0.5s;
}
/* tiendas */
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.tiendas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tarjeta{
  border-radius: 1em;
  flex: 1 1 300px;
  font-size: 16px;
  margin:20px;
  background-color: #ffffff;

}
.tarjeta img{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100%;
  height: 60%;
}

.info{
  width: 60%;
  text-align: center;
  margin: auto;
}
.info span{
  font-weight: bold;
  color: #f52b07;
  font-size: 0.8em
}
.tarjeta h3{
  font-size: 1.5em;
}
.tarjeta button{
  margin: 10px 0px 10px 0px;
  color:#ffffff;
  background-color: #33CCFF;
  border: none;
  padding: 5px 15px 5px 15px;
}
.tarjeta:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info-titulo{
  font-style: italic;
  margin: 1em 4em 0.5em 1.5em;
  padding-right: 4em;
  border-right: 2px solid #02c92d;
}
.info-titulo hr{
  margin-top: 1.5em;
  border: 1px solid yellow;
}
/* Promociones */
.promocion{
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  background-image: url("../img/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.25em;
  height: 4em;
  padding-top: 1.25em;
  text-align: center;
}
.promocion button{
  margin-top: 1em;
  border:none;
}
/* contactenos */
.contactenos{
  display: flex;
  justify-content: center;
}
.contact-form{
  margin:2em;
  border-radius: 1em;
  border-left: 2px solid yellow;
  width: 100%;
  background-color: #ebebeb;
}
.con-form{
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.con-form h1{
  margin-bottom: 1em;
  font-family: fantasy;
  font-style: italic;
}
.con-form input,textarea{
  margin-bottom: 1em;
  border: none;
  padding: 0.5em;
}
.horario input{
  margin-bottom: 1em;
  border: none;
  padding: 0.5em;
}
.con-form button{
  margin-bottom: 1em;
  border: none;
  padding: 0.5em;
  color: #ffffff;
  background-color: #f52b07;
}
.horario{
  padding: 0em 0.5em 2em 0.5em;
  display: flex;
  text-align: center;
}
#telEmail h2{
  margin-bottom: 5px;
}
#telEmail{
  display: flex;
  flex-direction: column;
}
/* Tabla */
.tg  {
  margin:1em;
  border-collapse:collapse;
  border-spacing:0;
  border-color:#aaa;
}
.tg td{
  font-family:Arial,sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ed7e7e;
  color:#333;
  /* background-color:#fff; */
}
.tg th{
  font-family:Arial, sans-seriffont-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:0px;
  overflow:hidden;
  word-break:normal;
  border-color:#ed6666;
  color:#fff;
  background-color:#ed6666;
}
.tg .tg-baqh{
  text-align:center;
  vertical-align:top
}
.tg .tg-c3ow{
  border-color:inherit;
  text-align:center;
  vertical-align:top
}
.tg .tg-lqy6{
  text-align:right;
  vertical-align:top
}
/* fin tabla */
iframe{
  margin:2em 0em 2em 2em;
  border-radius: 1em;
}
